<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>MoviesApp</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

 <!-- Compiled and minified JavaScript -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

<body ng-app="BlankApp" ng-cloak>

  <section ng-controller="DemoCtrl" ng-cloak>
    <nav>
      <div class="nav-wrapper container">
        <a href="#" class="brand-logo">MoviesApp</a>
      </div>
    </nav>

  <div class="container">
      <div class="row">
        <br>
        <br>
        <section class="input-field col s12">
          <input style="font-size: 30px;" ng-model="movieName" placeholder="Digite o nome de um filme" id="first_name" type="text" class="validate" 
            ng-keypress="searchKeyPress($event)" autofocus>
          <!-- <label for="first_name">Pesquisa</label> -->
          <i class="material-icons right search-icon" ng-click="pesquisarFilme()">search</i>
        </section>
      </div>

      <div class="row">
          <div class="col s6" ng-if="currentMovie.Title && !carregando">
            <div class="card left-card">
              <div class="card-content">
                <div class="row">
                  <div class="col s12">
                    <h2>Hey! Encontramos um filme... <i class="material-icons right" ng-click="currentMovie.Title = ''">close</i></h2>                  
                  </div>
                  <div class="col s3">
                    <img ng-if="currentMovie.Poster != 'N/A'" ng-src="{{currentMovie.Poster}}" alt="" class="responsive-img">
                  </div>
                  <div class="col s9">
                    <span class="card-title">{{currentMovie.Title}} ({{currentMovie.Year}})</span>
                    <p>{{currentMovie.Plot}}</p>
                  </div>
                </div>
              </div>
              <div class="card-action">
                <div class="row" style="margin-bottom: 0;">                
                  <a class="waves-effect waves-light btn right" ng-click="adicionarFilme();" ng-disabled="!currentMovie.Title">
                    <i class="material-icons left">add</i> 
                    <span>Adicionar à lista</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col s6" ng-if="carregando">
            <div class="center-align" style="padding-top: 130px;">
             <div class="preloader-wrapper big active">
              <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
          </div>

          <div class="col s6" ng-if="!currentMovie.Title && !carregando">
              <div class="card left-card">
                <div class="card-content">
                  <div class="row">
                    <div class="col s12">
                      <h2>Nenhum filme encontrado :-(</h2>
                    </div>
                  </div>
                </div>
                <div class="card-action">
                  <div class="row" style="margin-bottom: 0;">                
                    <a class="waves-effect waves-light btn right" ng-click="adicionarFilme()" ng-disabled="!currentMovie.Title">
                      <i class="material-icons left">add</i> 
                      <span>Adicionar filme</span>
                    </a>
                  </div>
                </div>
              </div>
          </div>

          <!-- carregando -->

          <div class="col s6">
              <div class="card right-card">
                <div class="card-content">
                  <div class="row">
                    <div class="col s12">
                      <h2>Últimos filmes adicionados</h2>
                    </div>
                  </div>
                  

                  <!-- <div class="row">
                    <div ng-repeat="filme in listaDeFilmes | orderBy:'-'" class="col s3" ng-if="$index < tamanhoMaximo">
                        <div class="card">
                            <div class="col s11 center">
                                <img ng-if="filme.Poster != 'N/A'" ng-src="{{filme.Poster}}" alt="" class="responsive-img">
                                <span>{{filme.Title}}</span>
                            </div>
                        </div>
                      </div>
                  </div> -->
                  
                  <div ng-repeat="filme in listaDeFilmes" ng-if="$index % 4 == 0 && $index < tamanhoMaximo" class="row">
                      <div class="col s3">
                          <div class="card">
                              <div class="col s11 center">
                                  <img ng-if="listaDeFilmes[$index].Poster != 'N/A'" ng-src="{{listaDeFilmes[$index].Poster}}" alt="" class="responsive-img">
                                  <span>{{listaDeFilmes[$index].Title}}</span>
                              </div>
                          </div>
                      </div>
                      <div class="col s3" ng-if="listaDeFilmes.length > ($index + 1)">
                          <div class="card">
                              <div class="col s11 center">
                                  <img ng-if="listaDeFilmes[$index].Poster != 'N/A'" ng-src="{{listaDeFilmes[$index + 1].Poster}}" alt="" class="responsive-img">
                                  <span>{{listaDeFilmes[$index + 1].Title}}</span>
                              </div>
                          </div>
                      </div>
                      <div class="col s3" ng-if="listaDeFilmes.length > ($index + 2)">
                          <div class="card">
                              <div class="col s11 center">
                                  <img ng-if="listaDeFilmes[$index + 2].Poster != 'N/A'" ng-src="{{listaDeFilmes[$index + 2].Poster}}" alt="" class="responsive-img">
                                  <span>{{listaDeFilmes[$index + 2].Title}}</span>
                              </div>
                          </div>
                      </div>
                      <div class="col s3" ng-if="listaDeFilmes.length > ($index + 3)">
                          <div class="card">
                              <div class="col s11 center">
                                  <img ng-if="listaDeFilmes[$index + 3].Poster != 'N/A'" ng-src="{{listaDeFilmes[$index + 3].Poster}}" alt="" class="responsive-img">
                                  <span>{{listaDeFilmes[$index + 3].Title}}</span>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>

                <div class="card-action">
                  <div class="row" style="margin-bottom: 0;">                
                    <a class="waves-effect waves-light btn right" ng-disabled="!(listaDeFilmes.length > 4)" ng-if="tamanhoMaximo == 4" ng-click="alteraTamanhoMaximo(listaDeFilmes.length)">Ver todos</a>
                    <a class="waves-effect waves-light btn right" ng-disabled="!(listaDeFilmes.length > 4)" ng-if="tamanhoMaximo != 4" ng-click="alteraTamanhoMaximo(4)">Minimizar</a>
                  </div>
                </div>
              </div>
          </div>
      </div>

  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular.min.js"></script>
  
  <!-- Your application bootstrap  -->
  <script type="text/javascript">    
    /**
     * You must include the dependency on 'ngMaterial' 
     */

    angular.module('BlankApp',[])
      .controller('DemoCtrl', DemoCtrl);

      function DemoCtrl($scope, $http){
          $scope.listaDeFilmes = [];
          $scope.tamanhoMaximo = 4;
          
          $scope.pesquisarFilme = function(){
              $scope.carregando = true;
             
              $http.get('http://www.omdbapi.com/?t=' + $scope.movieName + '&y=&plot=short&r=json')
              .then(function(response){
                  $scope.currentMovie = response.data;
                  $scope.carregando = false;
              });
          };

          $scope.adicionarFilme = function(){
              $scope.listaDeFilmes.unshift($scope.currentMovie);
              $scope.movieName = null;
          };

          $scope.searchKeyPress = function(keyEvent){
              if (keyEvent.which === 13) {
                  $scope.pesquisarFilme();
              }
          };

          $scope.alteraTamanhoMaximo = function(novoTamanho){
              $scope.tamanhoMaximo = novoTamanho;
          };
      }

  </script>
  
</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->